body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.gameContainer {
    text-align: center;
    background-color: rgb(206, 221, 216);
    border: 2px solid greenyellow;
    margin: 10px;
    border-radius: 10px;
}

.name {
    font-size: 1.5em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-variant: small-caps;
}

.rating {
    background-color: rgb(175, 169, 169);
}